*{
    box-sizing: border-box;
    margin: 0;
}

.container-fluid{
    padding: 0;
    height: fit-content;
    background-color: #ffffff;
}

.row{
    width: 90%;
    margin: 10px auto;
    min-height: fit-content;
    padding: 60px;
    border-radius: 10px;
    background-color: #707772;
}

#bg-img{
    background-color: #a4c4b5;
    min-height: 647.9px;
}

#bg-img img{
    margin: 0 0 0 -10px;
}

@media only screen and (min-width: 1000px){
    #bg-img img{
        margin: 30px 0 0 100px;
    }
}

.img-text{
    width: 70%;
    margin: auto;
    color: #fff;
}

.circle{
    width: 9px;
    height: 9px;
    border-radius: 50%;
    display: inline-block;
    background-color: #cfdfc5;
    margin: 3px;
}

.active{
    background-color: #fff;
    border-radius: 35%;
    width: 15px;
    height: 9px;
}

#login-form{
    background-color: #ffffff;
    height: fit-content;
}

.card{
    height: 40%;
    border:none;
    padding: 40px;
}

.card-header{
    background-color: white;
    outline: none;
    border: none;
    color: #707772;
    font-family: 'Pacifico', cursive;
}

.card-title{
    padding: 10px;
    margin: 30px 0;
}

label{
    display: block;
    color: #707772;
    font-size: 13px;
}

input{
    width: 100%;
    margin-bottom: 5px;
    padding: 5px;
    outline: none;
    border: none;
    border-bottom: 1px solid #e6e6e6;
    position: relative;
}

.forgotpassword{
    text-align: right;
    font-size: 11px;
    color: #707772;
    cursor: pointer;
}

.btn{
    width: 45%;
    display: block;
    margin: 15px auto;
    border-radius: 50px;
}

.card-footer{
    background-color: white;
    outline: none;
    border: none;

}

.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
  }

  hr{
      width: 30%;
      display: inline-block;
      margin: 0;
  }

  .hr-text{
      display: inline-block;
      margin: 0 10px 0 0;
      font-size: 12px;
  }

  p{
      padding: 10px;
  }

  p.google a{
    text-decoration: none;
    color: #707772;
  }

  p.createaccount{
      color: #707772;
      padding: 10px;
  }

  p.createaccount a{
      color: #707772;
  }